In [1]:
from datetime import timedelta
delta=timedelta(
days=50,
seconds=27,
microseconds=10,
milliseconds=29000,
minutes=5,
hours=8,
weeks=2)

In [2]:
print(delta)

64 days, 8:05:56.000010

In [4]:
d=timedelta(microseconds=-1)
print(d.days,d.seconds,d.microseconds)

-1 86399 999999

In [5]:
timedelta(hours=-5)
print(_)

In [1]:
from datetime import timedelta
delta1 = timedelta(seconds=57)
delta2 = timedelta(hours=25, seconds=2)
print(delta1!=delta2)

True

In [2]:
print(delta2==5)

False

In [3]:
delta2 > delta1

True

In [4]:
delta2 > 5

TypeError: '>' not supported between instances of 'datetime.timedelta' and 'int'

In [7]:
from datetime import timedelta
year=timedelta(days=365)
another_year=timedelta(weeks=40, days=84, hours=23, minutes=50, seconds=600)

In [9]:
print(year==another_year)
print(year.total_seconds())

True
31536000.0

In [11]:
from datetime import timedelta
year = timedelta(days=365)
ten_years=10*year
print(ten_years)
print(ten_years.days // 365)
nine_years=ten_years - year
print(nine_years)
three_years=nine_years//3
print(three_years, three_years.days // 365)

3650 days, 0:00:00
10
3285 days, 0:00:00
1095 days, 0:00:00 3

In [1]:
from datetime import date
date.fromisoformat('2019-12-04')

datetime.date(2019, 12, 4)

In [3]:
from datetime import date
d = date(2002,12,31)
d=d.replace(day=26)
print(d)

2002-12-26

In [4]:
from datetime import date
date(2003,12,29).isocalendar()
date(2004,1,4).isocalendar()

(2004, 1, 7)

In [5]:
from datetime import date
date(2002,12,4).isoformat()

'2002-12-04'

In [6]:
from datetime import date
date(2002,12,4).ctime()

'Wed Dec  4 00:00:00 2002'

In [20]:
import time
from datetime import date
today=date.today()
print(today)
print(today.year)
print(today==date.fromtimestamp(time.time()))
my_birthday=date(today.year,3,24)
print(my_birthday)
if my_birthday < today:
    my_birthday=my_birthday.replace(year=today.year+1)
print(my_birthday)
time_to_birthday=abs(my_birthday-today)
print(time_to_birthday)
print(time_to_birthday.days)

2020-05-23
2020
True
2020-03-24
2021-03-24
305 days, 0:00:00
305

2020-06-24